:root{
    --bg-blue: #3b82f6;
    --bg-lightblue: #e0f2fe;
    
    --bg-white: white;
    --bg-gray: lightgray;
    --bg-shadow: gray;

    --font-white: white;
    --font-black: black;
    --elem-black: black;
    --elem-white: white;
    --elem-yellow: #fbbf24;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: gray;

    --icon-column-px: 50px;
    --search-bar-height-px: 50px;
}

body{
    padding: 0;
    margin: 0;
}

.content-container{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(330px,1fr) 5fr;
    grid-template-rows: 1fr 4fr;
    
}


/* || SIDE PANEL */
#side-panel{    
    background-color: var(--bg-blue);
    padding: 20px;
    grid-column: 1 / 1;
    grid-row: 1 / 3;

    color: var(--font-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    place-content: start;
    justify-content: center;
    gap: 50px
}

#side-panel p {
    margin: 0;
}

#side-panel div{
    display: grid;
    grid-template-columns: var(--icon-column-px) auto;
}

/* || || LOGO */
.logo{
    align-items: center;    /* Verticaly centered */
    font-size: 24px;
    font-weight: 650;
    color: var(--elem-white);
    grid-template-rows: auto;
    gap: 5px;
}

#logo-icon{
    justify-self: center;
    height: 2rem;
}

.logo p {
    justify-self: start;
    white-space: nowrap;    /* Don't break line */    
}

/* || || NAV */
.nav-items,
.help-items{
    grid-column: 1 / 1;
    display: grid;
    gap: 5px;
    padding: 0;
    grid-template-rows: auto;
}

.nav,
.help{
    gap: 10px;
}

.nav-items > p,
.help-items > p {
    font-weight: 650;
}

.side-icons{
    height: 1.5rem;
    margin: auto;
}


/* || TOP PANEL */
#top-panel{
    background-color: var(--bg-white);
    grid-column: 2 / 2;
    grid-row: 1 / 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    
    padding: 10px 50px;

    box-shadow: 1px 1px 2px  var(--bg-shadow);
    position: relative;
    z-index: 10;
}

/* || || TOP BAR*/
.topbar{
    display: grid;
    grid-template-columns: minmax(10%,60%) auto;
    grid-template-rows: auto auto;
    align-items: start;
    column-gap: 50px;
    row-gap: 20px;
}

.searchbar{
    grid-row: 1/1;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--search-bar-height-px);
    align-items: center;
}

.search-box{
    background-color: var(--bg-lightblue);
    height: 2rem;
    margin: 10px;
    border-radius: 20px;
}

.profile-summary{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: var(--search-bar-height-px);
    gap: 30px;
    align-items: center;
    /* justify-items: start; */

    justify-self: end;
    align-self: start;
}

.profile-picture img{
    border: 2px solid black;
    border-radius: 50%;
    height: 2.5rem;
    aspect-ratio: 1;
    object-fit: cover;
}

.profile-name{
    font-weight: 650;
}

#notification-icon,
#search-icon{
    justify-self: center;
    height: 1.5rem;
    align-self: center;
}

/* || || GREETINGS */
.greeting{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
}

.profile-greeting{
    justify-self: start;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    /* align-items: center; */
}

.profile-greeting img{
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;

    grid-row: 1 / 3;
    align-self: center;
}

.profile-greeting p {
    padding: 0;
    margin: 0;
}

.greeting-text{
    font-size: 16px;
    font-weight: 550;

    align-self: end;
}

.username{
    font-size: 20px;
    font-weight: 650;
}

.buttons{
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(3, minmax(20%, 1fr));
    gap: 30px;
}

.buttons button{
    background-color: var(--bg-blue);
    padding: 8px 24px;
    color: var(--bg-white);
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
}



/* || CONTENT */
#content{
    background-color: var(--bg-lightblue);
    grid-column: 2 / 2;
    grid-row: 2 / 2;

    padding: 10px 20px;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 2fr;
    column-gap: 20px;
}

.content-title{
    font-weight: 550;
}

/* || || ANNOUNCEMENTS */
.announc-container,
.trending-container{
    background-color: var(--bg-white);
    padding: 20px 24px;
    border-radius: 10px;
    /* border: black 2px  solid; */
    box-shadow: 1px 1px 2px  var(--bg-shadow);
}

.announc-container p,
.trending-container p {
    margin: 0;
    padding: 0;
}

.announc-container{
    display: grid;
    gap: 20px;
}

.announc-title,
.trending-username{
    font-weight: 600;
}

.announc-descr,
.trending-motto{
    font-size: smaller;
}

.row-line{
    border: 1px dashed var(--bg-gray);
}

/* || || TRENDING */
.trending-container{
    list-style: none;

    display: grid;
    gap: 20px;
}

#trending{
    align-self: start;
}

.trending-container > li {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    white-space: nowrap;
    column-gap: 10px;
}

.trending-profile-picture{
    height: 3rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
}

/* || || PROJECTS */
#projects{
    grid-row: 1 / 3;

    
}

.card-container{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 20px;
}

.card p{
    margin: 0;
    padding: 0;
}


.project-title{
    font-weight: 600;
}

.project-descr{
    font-size: smaller;
}


.card{
    background-color: var(--bg-white);
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid VAR(--elem-yellow);

    gap: 5px;

    display: grid;
}

.project-buttons{
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
}
.project-icons{
    height: 1.5rem;
}